<?xml version="1.0" encoding="UTF-8"?>
  <plist version="1.0"><dict>
      <key>items</key>
      <array>
        <dict>
          <key>assets</key>
          <array>
            <dict>
              <key>kind</key>
              <string>software-package</string>
              <key>url</key>
              <string><![CDATA[https://app.appmeta.cn/6833bd90eed75f151984e16fd8a972068be0d7c2?auth_key=1735178942-0-0-f4f0c0f099a58f578c3f795b7b783a91]]></string>
            </dict>
            <dict>
              <key>kind</key>
              <string>display-image</string>
              <key>needs-shine</key>
              <integer>0</integer>
              <key>url</key>
              <string><![CDATA[https://fir-app-icon.appc01.com/108834b01a804801a757a6a04fce7b417e86e9dc?auth_key=1735178942-0-0-74ae0ac76f7061542e72f94f632bd548]]></string>
            </dict>
            <dict>
              <key>kind</key>
              <string>full-size-image</string>
              <key>needs-shine</key>
              <true/>
              <key>url</key>
              <string><![CDATA[https://fir-app-icon.appc01.com/108834b01a804801a757a6a04fce7b417e86e9dc?auth_key=1735178942-0-0-74ae0ac76f7061542e72f94f632bd548]]></string>
            </dict>
          </array>
          <key>metadata</key>
          <dict>
            <key>bundle-identifier</key>
            <string>realestate.pingan.com.test</string>
            <key>bundle-version</key>
            <string><![CDATA[4.46.0]]></string>
            <key>kind</key>
            <string>software</string>
            <key>title</key>
            <string><![CDATA[工作平台Test]]></string>
          </dict>
        </dict>
      </array>
    </dict></plist>
