<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
      <key>items</key>
      <array>
        <dict>
           <key>assets</key>
           <array>
             <dict>
               <key>kind</key>
               <string>software-package</string>
               <key>url</key>
               <string><![CDATA[https://stg.iobs.pingan.com.cn/pare-mop-dmz-stg-pri/ma0246fa62-f34e-401b-a159-dced1ff25e84?downloadoshc&x-obs-access-key-id=Kd06KJ8MDKFCF6YVKIK2V00D9J88ICYF&x-obs-expires=1735119660&x-obs-signature=ns1lKasnjAvS3%2Bl094%2FK6g%2F1CTV%2B29eX6Qw1Hf1MLKw%3D]]></string>
             </dict>
             <dict>
               <key>kind</key>
               <string>display-image</string>
               <key>needs-shine</key>
               <integer>0</integer>
               <key>url</key>
               <string><![CDATA[https://www.qq.com]]></string>
             </dict>
             <dict>
               <key>kind</key>
               <string>full-size-image</string>
               <key>needs-shine</key>
               <true/>
               <key>url</key>
               <string><![CDATA[https://www.qq.com]]></string>
             </dict>
           </array>
           <key>metadata</key>
           <dict>
             <key>bundle-identifier</key>
             <string>realestate.pingan.com.test</string>
             <key>bundle-version</key>
             <string><![CDATA[4.46.0]]></string>
             <key>kind</key>
             <string>software</string>
             <key>title</key>
             <string><![CDATA[工作平台Test]]></string>			 
           </dict>
        </dict>
      </array>
  </dict>
</plist>